<div class="container mt-2">
  <form #f="ngForm">
    <div class="form-group">
      <label for="difficulty">Categorie</label>
      <select class="form-control" id="Categorie" name="Categorie"
              required
              [(ngModel)]="course.category" #c="ngModel">
        <option>Development</option>
        <option>Marketing</option>
        <option>Cloud Computing</option>
        <option>Project Manager</option>
      </select>
    </div>
    <div *ngIf="c.invalid && (c.dirty || c.touched)"
         class="alert alert-danger">
      <div *ngIf="c.errors.required">
        * Category is required.
      </div>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" name="title"
             placeholder="Enter Title of the course"
             required
             minlength="6"
             [(ngModel)]="course.title" #t="ngModel">
    </div>
    <div *ngIf="t.invalid && (t.dirty || t.touched)"
         class="alert alert-danger">
      <div *ngIf="t.errors.required">
        * Title is required.
      </div>
      <div *ngIf="t.errors.minlength">
        * Title must be at least 6 characters long.
      </div>
    </div>
    <div class="form-group">
      <label for="summary">Summary</label>
      <textarea class="form-control" id="summary" name="summary" placeholder="Enter a summary of the course which contains between 10 and 200 letters"
                required
                minlength="10"
                maxlength="200"
                [(ngModel)]="course.summary" #s="ngModel"></textarea>
    </div>
    <div *ngIf="s.invalid && (s.dirty || s.touched)"
         class="alert alert-danger">
      <div *ngIf="s.errors.required">
        * Summary is required.
      </div>
      <div *ngIf="s.errors.minlength">
        * Summary of the course which contains between 10 and 50 letters.
      </div>
    </div>
    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" class="form-control" id="author" name="author"
             required
             [(ngModel)]="course.author" #a="ngModel">
    </div>
    <div *ngIf="a.invalid && (a.dirty || a.touched)"
         class="alert alert-danger">
      <div *ngIf="a.errors.required">
        * Author is required.
      </div>
    </div>
    <div class="form-group">
      <label for="releaseDate">Release Date</label>
      <input type="date" class="form-control" id="releaseDate" name="releaseDate"
             required
             [(ngModel)]="course.releaseDate" #rd="ngModel">
    </div>
    <div *ngIf="rd.invalid && (rd.dirty || rd.touched)"
         class="alert alert-danger">
      <div *ngIf="rd.errors.required">
        * Release date is required.
      </div>
    </div>
    <div class="form-group">
      <label for="difficulty">Difficulty</label>
      <select class="form-control" id="difficulty" name="difficulty"
              required
              [(ngModel)]="course.difficulty" #d="ngModel">>
        <option>Easy</option>
        <option>Medium</option>
        <option>Hard</option>
      </select>
    </div>
    <div *ngIf="d.invalid && (d.dirty || d.touched)"
         class="alert alert-danger">
      <div *ngIf="d.errors.required">
        * Difficulty is required.
      </div>
    </div>

    <div class="form-group">
      <label for="releaseDate">Add image course</label>
      <input type="file" (change)="changeFiles($event)" class="form-control" accept="image/*">
      <p class="text-success" *ngIf="fileIsUploaded">File uploaded !</p>
    </div>

    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="public" name="public"
             [(ngModel)]="course.public">
      <label class="form-check-label" for="public">Public</label>
    </div>
    <div class="mt-3">
      <button type="button"  class="btn btn-primary" (click)="addCourse()"
              [disabled]="f.invalid"
              *ngIf="isAddMode">Add Course</button>
      <button type="button"  class="btn btn-primary" (click)="editCourse()"
              [disabled]="f.invalid || fileIsUploading"
              *ngIf="!isAddMode">EDIT Course</button>
    </div>
  </form>
</div>
