<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>SIGN IN</h2>
    <form #f="ngForm">
      <div class="form-group">
        <label for="email">Email:*</label>
        <input type="text"
               id="email"
               name="email"
               class="form-control"
               [(ngModel)]="email"
               #m="ngModel"
               required
               email>
      </div>
      <div [hidden]="m.valid || m.pristine"
           class="alert alert-danger">
        Email is required
      </div>
      <div class="form-group">
        <label for="password">Password:*</label>
        <input type="password"
               id="password"
               name="password"
               class="form-control"
               [(ngModel)]="password"
               #p="ngModel"
               required
               pattern="[0-9a-zA-Z]{6,}">
      </div>
      <div [hidden]="p.valid || p.pristine"
           class="alert alert-danger">
        At least 6 characters
      </div>
      <button class="btn btn-primary"
              type="submit"
              (click)="onSubmit()"
              [disabled]="f.invalid" >SIGN IN</button>
      <span class="text-danger ml-2">{{ errorMessage }}</span>
    </form>

  </div>
</div>
