<div class="container mt-3 mb-3">
  <div class="row">

    <label class="form-check-label mr-3 text-lg-left btn btn-outline-danger disabled" disabled>Filtres</label>

    <select class="form-select btn btn-warning" aria-label="Category"
            name="filtreByCategory"
            [(ngModel)]="filtreByCategory"
            (change)="onFiltreByCategory()">
      <option [ngValue]="'none'" selected>Category</option>
      <option *ngFor="let category of categories" [ngValue]="category">{{ category}}</option>
    </select>

    <select class="form-select btn btn-success ml-2" aria-label="Difficulty"
            name="filtreByDifficulty"
            [(ngModel)]="filtreByDifficulty"
            (change)="onFiltreByDifficulty()">
      <option [ngValue]="'none'" selected>Diffculty</option>
      <option *ngFor="let difficulty of difficultys" [ngValue]="difficulty">{{ difficulty }}</option>
    </select>

    <div class="form-check ml-2 ">
      <input type="checkbox" class="form-check-input " id="public" name="public"
             [(ngModel)]="isPublic" style="width: 20px">
      <label class="form-check-label" for="public" [(ngModel)]="searchTerm">Public</label>
    </div>
  </div>
  <div class="row mt-2">
    <input type="text">
  </div>
</div>


<div class="container">
  <div class="row">
    <app-course-single *ngFor="let object of courses"
                       [courseChild]="object"
                       [isPublicChild]="isPublic"
                       (deleteEvent)="onDeleteCourse($event)"
                       (recommendEvent)="onRecommendCourse($event)">
    </app-course-single>
  </div>
</div>

